body{
  font-family: sans-serif, Helvetica, Arial;
  background :#222;
  color: #fff;
}

a:link{
  color: #68f;
}
a:visited{
  color: #248;
}
}
a:hover{
  text-decoration: none;
  font-style: italic;
}
