*{
  font-family:Georgia,Garamond,Times,'Times New Roman';
  color:#f90;
}

body{
  background:#222 url('../img/fondo.png') fixed;
  padding:0;
  margin:0;
}

h1,h2,h3,h4,h5,h6,legend{
  padding:0;
  margin:0;
}

legend{
  color:#bd6;
}

#container{
  width:750px;
  margin:0 auto;
  margin-top:40px;
  margin-bottom:40px;
  background:rgba(0,0,0,.9);
  -webkit-border-radius: 8px;
  -moz-border-radius:8px;
  border-radius:8px;
  -webkit-box-shadow:rgba(200,200,200,.2) 4px 4px 0;
  -moz-box-shadow:rgba(200,200,200,.2) 4px 4px 0;
  box-shadow:rgba(200,200,200,.2) 4px 4px 0;
  padding:8px;
}

fieldset{
  -webkit-border-radius: 8px;
  -moz-border-radius:8px;
  border-radius:8px;
}

input,textarea{
  border: solid 1px #666;
  background:black;
  color: #568;
}
input.texto,textarea{
  width:300px;
  color:#fff;
}
textarea{
  width:400px;
  height:200px;
}

label{
  margin-top:16px;
  display:block;
}
label.radio{
  display:inline;
}

cite{
  font-size:11px;
  color:yellow;
}

/* botón de http://github.com/ubuwaits/css3-buttons */
input.thoughtbot {
  background: #c63929;
  background: -moz-linear-gradient(0% 100% 90deg, #891100 0%, #B51700 50%, #c63929 50%, #EE432E 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #ee432e), color-stop(0.5, #c63929), color-stop(0.5, #b51700), color-stop(1, #891100));
  border: 1px solid #951100;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1;
  padding: 12px 0 14px 0;
  text-align: center;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, .8);
  width: 150px;
}
input.thoughtbot:hover {
  background: #cb0500;
  background: -moz-linear-gradient(0% 100% 90deg, #a20601 0%, #cb0500 50%, #db504d 50%, #f37873 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #f37873), color-stop(0.5, #db504d), color-stop(0.5, #cb0500), color-stop(1, #a20601));
}
input.thoughtbot:active {
  background: #b30300;
  background: -moz-linear-gradient(0% 100% 90deg, #700d00 0%, #9c1500 50%, #ad3224 50%, #d43c28 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #d43c28), color-stop(0.5, #ad3224), color-stop(0.5, #9c1500), color-stop(1, #700d00));
  box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
  -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4);
}
