/*
Transparencias, bordes redondeados y sombras sacado de identi.ca
Maquetado de:
http://www.456bereastreet.com/lab/developing_with_web_standards/csslayout/2-col/finished.html
*/
body{
  background:#563 url(../../../ejemplos/greenvalley/greenvalley.jpg) no-repeat fixed center center;
  font-family: sans-serif, Helvetica, Arial;
}
a{
  color:DarkGreen;
  font-weight:bold;
  font-size:12px;
}
a:hover{
  text-decoration:none;
}
#wrap {
  width:750px;
  margin:0 auto;
  background:rgba(255,255,255,.3);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(150,200,100,.2) 4px 4px 0;
  -moz-box-shadow: rgba(150,200,100,.2) 4px 4px 0;
  box-shadow: rgba(150,200,100,.2) 4px 4px 0;
}
#header {
  padding:5px 10px;
}
h1 {
    margin:0;
  }
#nav {
  padding:5px 10px;
}
#nav ul {
  margin:0;
  padding:0;
  list-style:none;
}
#nav li {
  display:inline;
  margin:0;
  padding:0;
}
#main {
  float:left;
  width:480px;
  padding:10px;
}
h2 {
  margin:0 0 1em;
}
#sidebar {
  float:right;
  width:230px;
  padding:10px;
}
#footer {
  clear:both;
  padding:5px 10px;
}
#footer p {
  margin:0;
  }
* html #footer {
  height:1px;
}

#sidebar ul{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#sidebar ul li ul{
  display:none;
	padding-left: 4px;
}
#sidebar ul li ul li a{
  font-weight:normal;
}

em,cite{
  font-size:12px;
}
em{
  font-style:normal;
  font-weight:bold;
}
